<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acquisition.mapper.CjDataSourceUniqueIndexInfoMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.acquisition.entity.CjDataSourceUniqueIndexInfo" id="cjDataSourceUniqueIndexInfoMap">
        <result property="businessSystemId" column="business_system_ID"/>
        <result property="businessSystemNameShortName" column="business_system_name_short_name"/>
        <result property="dataSourceSchema" column="data_source_schema"/>
        <result property="dataSourceTable" column="data_source_table"/>
        <result property="uniqueIndexName" column="unique_index_name"/>
        <result property="dataSourceColName" column="data_source_col_name"/>
        <result property="dataSourceColOrder" column="data_source_col_order"/>
        <result property="lastModifyDt" column="last_modify_dt"/>
        <result property="lastModifyBy" column="last_modify_by"/>
    </resultMap>


    <insert id="insertBatch" parameterType="java.util.List">
        insert into cj_data_source_unique_index_info
        (business_system_ID,business_system_name_short_name,data_source_schema,data_source_table,unique_index_name,data_source_col_name,data_source_col_order,last_modify_dt,last_modify_by)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.businessSystemId}, #{item.businessSystemNameShortName},
            #{item.dataSourceSchema}, #{item.dataSourceTable}, #{item.uniqueIndexName},
            #{item.dataSourceColName}, #{item.dataSourceColOrder},
            #{item.lastModifyDt}, #{item.lastModifyBy})
        </foreach>
    </insert>


    <delete id="deleteBatch" parameterType="java.util.List">
        delete from cj_data_source_unique_index_info where
        (business_system_name_short_name,data_source_schema,data_source_table) in
        <foreach item="item" index="index" collection="list" separator="," open="(" close=")">
            (#{item.businessSystemNameShortName},#{item.dataSourceSchema},#{item.dataSourceTable})
        </foreach>
    </delete>

    <select id="selectUniqueIndexByTable" resultMap="cjDataSourceUniqueIndexInfoMap">
        select unique_index_name,data_source_col_name from cj_data_source_unique_index_info
        where business_system_name_short_name = #{businessSystemNameShortName}
        and data_source_schema = #{dataSourceSchema}
        and data_source_table = #{dataSourceTable}
        order by unique_index_name,data_source_col_order
    </select>
</mapper>