<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acquisition.mapper.CjDwOdsMapInitInfoMapper" >
  <resultMap id="BaseResultMap" type="com.acquisition.entity.CjDwOdsMapInitInfo" >
    <id column="ods_data_table" property="odsDataTable" jdbcType="VARCHAR" />
    <id column="dw_spare_table" property="dwSpareTable" jdbcType="VARCHAR" />
    <id column="dw_data_table" property="dwDataTable" jdbcType="VARCHAR" />
    <result column="dw_business_topic_domain" property="dwBusinessTopicDomain" jdbcType="VARCHAR" />
    <result column="last_modify_dt" property="lastModifyDt" jdbcType="VARCHAR" />
    <result column="last_modify_by" property="lastModifyBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ods_data_table, dw_spare_table, dw_data_table, dw_business_topic_domain, last_modify_dt, 
    last_modify_by
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.acquisition.entity.CjDwOdsMapInitInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cj_dw_ods_map_init_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.acquisition.entity.CjDwOdsMapInitInfoKey" >
    select 
    <include refid="Base_Column_List" />
    from cj_dw_ods_map_init_info
    where ods_data_table = #{odsDataTable,jdbcType=VARCHAR}
      and dw_spare_table = #{dwSpareTable,jdbcType=VARCHAR}
      and dw_data_table = #{dwDataTable,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.acquisition.entity.CjDwOdsMapInitInfoKey" >
    delete from cj_dw_ods_map_init_info
    where ods_data_table = #{odsDataTable,jdbcType=VARCHAR}
      and dw_spare_table = #{dwSpareTable,jdbcType=VARCHAR}
      and dw_data_table = #{dwDataTable,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.acquisition.entity.CjDwOdsMapInitInfoExample" >
    delete from cj_dw_ods_map_init_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.acquisition.entity.CjDwOdsMapInitInfo" >
    insert into cj_dw_ods_map_init_info (ods_data_table, dw_spare_table, dw_data_table, 
      dw_business_topic_domain, last_modify_dt, last_modify_by
      )
    values (#{odsDataTable,jdbcType=VARCHAR}, #{dwSpareTable,jdbcType=VARCHAR}, #{dwDataTable,jdbcType=VARCHAR}, 
      #{dwBusinessTopicDomain,jdbcType=VARCHAR}, #{lastModifyDt,jdbcType=VARCHAR}, #{lastModifyBy,jdbcType=VARCHAR}
      )
    ON DUPLICATE KEY UPDATE
      ods_data_table = #{record.odsDataTable,jdbcType=VARCHAR},
      dw_spare_table = #{record.dwSpareTable,jdbcType=VARCHAR},
      dw_data_table = #{record.dwDataTable,jdbcType=VARCHAR},
      dw_business_topic_domain = #{record.dwBusinessTopicDomain,jdbcType=VARCHAR},
      last_modify_dt = #{record.lastModifyDt,jdbcType=VARCHAR},
      last_modify_by = #{record.lastModifyBy,jdbcType=VARCHAR}
  </insert>
  <insert id="insertSelective" parameterType="com.acquisition.entity.CjDwOdsMapInitInfo" >
    insert into cj_dw_ods_map_init_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="odsDataTable != null" >
        ods_data_table,
      </if>
      <if test="dwSpareTable != null" >
        dw_spare_table,
      </if>
      <if test="dwDataTable != null" >
        dw_data_table,
      </if>
      <if test="dwBusinessTopicDomain != null" >
        dw_business_topic_domain,
      </if>
      <if test="lastModifyDt != null" >
        last_modify_dt,
      </if>
      <if test="lastModifyBy != null" >
        last_modify_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="odsDataTable != null" >
        #{odsDataTable,jdbcType=VARCHAR},
      </if>
      <if test="dwSpareTable != null" >
        #{dwSpareTable,jdbcType=VARCHAR},
      </if>
      <if test="dwDataTable != null" >
        #{dwDataTable,jdbcType=VARCHAR},
      </if>
      <if test="dwBusinessTopicDomain != null" >
        #{dwBusinessTopicDomain,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDt != null" >
        #{lastModifyDt,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyBy != null" >
        #{lastModifyBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.acquisition.entity.CjDwOdsMapInitInfoExample" resultType="java.lang.Integer" >
    select count(*) from cj_dw_ods_map_init_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cj_dw_ods_map_init_info
    <set >
      <if test="record.odsDataTable != null" >
        ods_data_table = #{record.odsDataTable,jdbcType=VARCHAR},
      </if>
      <if test="record.dwSpareTable != null" >
        dw_spare_table = #{record.dwSpareTable,jdbcType=VARCHAR},
      </if>
      <if test="record.dwDataTable != null" >
        dw_data_table = #{record.dwDataTable,jdbcType=VARCHAR},
      </if>
      <if test="record.dwBusinessTopicDomain != null" >
        dw_business_topic_domain = #{record.dwBusinessTopicDomain,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyDt != null" >
        last_modify_dt = #{record.lastModifyDt,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyBy != null" >
        last_modify_by = #{record.lastModifyBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cj_dw_ods_map_init_info
    set ods_data_table = #{record.odsDataTable,jdbcType=VARCHAR},
      dw_spare_table = #{record.dwSpareTable,jdbcType=VARCHAR},
      dw_data_table = #{record.dwDataTable,jdbcType=VARCHAR},
      dw_business_topic_domain = #{record.dwBusinessTopicDomain,jdbcType=VARCHAR},
      last_modify_dt = #{record.lastModifyDt,jdbcType=VARCHAR},
      last_modify_by = #{record.lastModifyBy,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.acquisition.entity.CjDwOdsMapInitInfo" >
    update cj_dw_ods_map_init_info
    <set >
      <if test="dwBusinessTopicDomain != null" >
        dw_business_topic_domain = #{dwBusinessTopicDomain,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDt != null" >
        last_modify_dt = #{lastModifyDt,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyBy != null" >
        last_modify_by = #{lastModifyBy,jdbcType=VARCHAR},
      </if>
    </set>
    where ods_data_table = #{odsDataTable,jdbcType=VARCHAR}
      and dw_spare_table = #{dwSpareTable,jdbcType=VARCHAR}
      and dw_data_table = #{dwDataTable,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.acquisition.entity.CjDwOdsMapInitInfo" >
    update cj_dw_ods_map_init_info
    set dw_business_topic_domain = #{dwBusinessTopicDomain,jdbcType=VARCHAR},
      last_modify_dt = #{lastModifyDt,jdbcType=VARCHAR},
      last_modify_by = #{lastModifyBy,jdbcType=VARCHAR}
    where ods_data_table = #{odsDataTable,jdbcType=VARCHAR}
      and dw_spare_table = #{dwSpareTable,jdbcType=VARCHAR}
      and dw_data_table = #{dwDataTable,jdbcType=VARCHAR}
  </update>
</mapper>